{
    margin: 0;
    padding: 0;
}

.cabecalho {
    backgroud-color: #424E61;
    color: white;
    display: flex;
    justify-content: space-aroud;
    align-items: center;
    padding: 10px 0;
}

.cabecalho-imagem{
    width: 60%;
}

.cabecalho-lista-item{
    display: inline-bloclk;
    margin: 0 16px;
    font-size: 24px;
}